th, td {
  border: 3px solid #3B3642;
 }
 
 table {
  border-collapse: collapse;
  float:left;
 }
 
 h1 {
     margin-top:100px;
 }
 
 tr:hover {
     background-color:gray;
 }
 

 .EnderDragon {
     width:650px ;
 }
 
 .villager {
     width:100px;
 }
 
 
nav li {
  display: inline;
 }
.active {
    font-weight:bold;
    background-color:Navy;
 }
 
 
    nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:blue;
   opacity:0.7;
  border-collapse:collapse;
  padding:0 30px;
 }
 
 nav li {
  display: inline-block;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a{
  text-decoration:none;
  color: red;
  font-size: 150%;
 }
 
 nav a:hover {
  color: orange;
 }
 
 nav ul {
     margin:0;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: red;
  font-size: 150%;
   margin: 0px 10px;
 }
 nav a:hover {
  color: orange;
  background-color:purple;
 }
 
 nav li {
    height:100%;
    padding: 11px 0px;
}
 
 body {
     background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg");
     color:yellow;
 }