

body {
    color:red; 
    background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg");
}

h1 {
    color: #B85512;
    text-decoration: underline;
    background-image:url("http://backgrounds.picaboo.com/download/48/89/489306120b414e3986969b187a369f14/horizontal_gold.jpg");
    display:block;
    width:100%;
    border-bottom: thick solid yellow;
    border-top:thick solid yellow;
}



.title h1 {
    font-size:325%;
    margin-top:5%;
    margin-bottom:-15px;

 } 
.archer {
   width:20%
}

.witherboss {
    width: 20%
}

.first {
    color:red;
}

section {
    width:70%;
    margin:auto;
}

.big {
    line-height:150%;
    color:#B85512;
     border: groove thick Limegreen;
     margin-right:225px;
}

.paragraph1 {
     line-height:150%;
     color:yellow;
     background-repeat: no-repeat;

}

.page2link {
    text-decoration:none;
    color:green;
}

.page2link:hover {
    color:pink;
}


 nav li {
  display: inline;
 }
.active {
    font-weight:bold;
    background-color:Navy;
 }
 
 
    nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:blue;
   opacity:0.7;
  border-collapse:collapse;
  padding:0 30px;
 }
 
 nav li {
  display: inline-block;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a{
  text-decoration:none;
  color: red;
  font-size: 150%;
 }
 
 nav a:hover {
  color: orange;
  background-color:purple;
 }
 
 nav ul {
     margin:0;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: red;
  font-size: 150%;
  margin: 0px 10px;
 }
 nav a:hover {
  color: orange;
 }
 
 nav li {
    height:100%;
    padding: 11px 0px;
}
 
 .wither {
     color:purple;
     border: groove thick Aqua;
     height:100px;
     width:350px;
     float:right;
    margin-right:90px;
 }
 
 section {
     background-color:#3CB371;
     opacity:0.8;
     
 }

 img {
     width:200px;
     position:relative;
 }
 
.witherimg{
    margin-left:220px;
}
.dragon {
    top:40px;
    float:right;
}

.tale2 {
    margin-top:100px;
    margin-left:700px;
}

