

body {
    color:red; 
    background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1225/nether_2638364.jpg");
}

h1 {
    color: #B85512;
    text-decoration: underline;
    background-image:url("http://backgrounds.picaboo.com/download/48/89/489306120b414e3986969b187a369f14/horizontal_gold.jpg");
    display:block;
    width:100%;
    border-bottom: thick solid #4D0017;
    border-top:thick solid #4D0017;
}



.title h1 {
    font-size:325%;
    margin-top:5%;
    margin-bottom:-15px;

 } 
.archer {
   width:20%
}

.witherboss {
    width: 20%
}

.first {
    color:red;
}

section {
    width:70%;
    margin:auto;
}

.big {
    line-height:150%;
    color:#DEBB73;
     border: groove thick #9A002F;
     margin-right:225px;
     margin-left:20px;
}

.paragraph1 {
     line-height:150%;
     color:#DEBB73;
     background-repeat: no-repeat;

}

.page2link {
    text-decoration:none;
    color:green;
}

.page2link:hover {
    color:pink;
}


 nav li {
  display: inline;
 }
.active {
    font-weight:bold;
    background-color:#010000;
    
 }
 
 
    nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:#9A002F;
   opacity:0.9;
  border-collapse:collapse;
  padding:0 30px;
 }
 
 nav li {
  display: inline-block;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a{
  text-decoration:none;
  color: red;
  font-size: 150%;
 }
 
 nav a:hover {
  color: orange;
  background-color:#4D0017;
 }
 
 nav ul {
     margin:0;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
  z-index:2;
 }
 
nav li a {
  text-decoration:none;
  color: #4D0F30;
  font-size: 150%;
  margin: 0px 10px;
 }
 nav a:hover {
  color: orange;
 }
 
 nav li {
    height:100%;
    padding: 11px 0px;
}
 
 .wither {
     color:#DEBB73;
     border: groove thick black;
     height:100px;
     width:350px;
     float:right;
    margin-right:20px;
 }
 
 section {
     background-color:#4D0017;
     opacity:0.80;
 }

 img {
     width:200px;
     position:relative;
 }
 
.witherimg{
    margin-left:220px;
    opacity:1;
}
.dragon {
    top:40px;
    float:right;
    opacity:1;
}

.tale2 {
    margin-top:100px;
    text-align:right;
}

.zombie {
    line-height:150%;
    color:#DEBB73;
     border: groove thick orange;
     margin-right:225px;
     margin-left:20px;
     float:left;
}

.zombieimg {
    margin-left:670px;
    bottom:150px;
}

article {
  padding: 20px;
}

article p {
  text-indent: 47px;
}