
body {
background-image:url("https://s-media-cache-ak0.pinimg.com/originals/17/e1/6b/17e16b541ae0ff5bc4ab77fc15c5f463.jpg"); color:#B85512; background-color: black;}

.container {
    width:80%;
    margin:auto;
  background-image:url(http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg);
  background-size: 1000px 1000px;
  background-position:center;
}

.tale_1 {
   line-height:175%;
   color:#DEBB73;
    
}
.tale_2 {
    line-height:175%;
    color:#DEBB73;
}

.active {
    font-weight:bold;
    background-color:#010000;
    
 }

 video {
     margin-right:100px;
 }
 
 h2 {
     text-decoration:underline;
 }
 
 section {
     background-color:#4D0017;
 }
 
 
 .endimg {
     display: inline;
     width: 320px;
     margin-right:100px;
 }