body {
background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1225/nether_2638364.jpg");
color:skyblue;
}


p {
    margin-right:  200px ;
}

iframe {
    float:left;
    clear:right;
}

img {
    width:390px;
}

h1 {
    margin-top:50px;
    color:black;
}

.active {
    font-weight:bold;
    background-color:#010000;
    
 }
 
 section {
     background-color:#4D0017;
     height: 500px;
    width:85%;
    margin:auto;
}
 
 article {
  padding: 20px;
}

article p {
  text-indent: 47px;
}