
body {
background-image:url("https://s-media-cache-ak0.pinimg.com/originals/17/e1/6b/17e16b541ae0ff5bc4ab77fc15c5f463.jpg"); color:#B85512; background-color: black;}
.container {
    width:80%;
    margin:auto;
  background-image:url(http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg);
  background-size: 1000px 1000px;
  background-position:center;
}

.tale_1 {
   line-height:175%;
   color:#DEBB73;
    
}
.tale_2 {
    line-height:175%;
    color:#DEBB73;
}


.id {
    margin-top:450px
}
.articletitle {
    color:navy;
    text-decoration:none;
   margin-left: 200px;
}
 
.articletitle:hover {
    color:pink;
}

 img {
     margin-left: 117px;
 }
nav li {
  display: inline;
 }
.active {
    font-weight:bold;
    background-color:#010000;
    
 }
 
 
    nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:#9A002F;
   opacity:0.9;
  border-collapse:collapse;
  padding:0 30px;
 }
 
 nav li {
  display: inline-block;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
  opacity:0.9;
 }
 
nav li a{
  text-decoration:none;
  color: red;
  font-size: 150%;
 }
 
 nav a:hover {
  color: orange;
  background-color:#4D0017;
 }
 
 nav ul {
     margin:0;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: #4D0F30;
  font-size: 150%;
  margin: 0px 10px;
 }
 nav a:hover {
  color: orange;
 }
 
 nav li {
    height:100%;
    padding: 11px 0px;
}
 video {
     margin-right:100px;
 }
 
 h2 {
     text-decoration:underline;
 }
 
 section {
     background-color:#4D0017;
 }