img {
 width: 500px
}

body {
    background-color: black;background-image:url("http://fc03.deviantart.net/fs70/i/2013/236/4/b/steve_vs_enderdragon_by_themefinland-d6j9jrp.jpg"); background-repeat: no-repeat;color:yellow;
}

h1 {
    color: red;text-decoration: underline;background-image:url("http://backgrounds.picaboo.com/download/48/89/489306120b414e3986969b187a369f14/horizontal_gold.jpg"); url("http://fc03.deviantart.net/fs70/i/2013/236/4/b/steve_vs_enderdragon_by_themefinland-d6j9jrp.jpg");
}

.title {
    font-size:325%;
}
.archer {
   width:20%
}

.witherboss {
    width: 20%
}

.first {
    color:green;
}

.storiescontainer {
    width:70%;
    margin:auto;
}

.big {
    line-height:175%;
}

.paragraph1 {
     line-height:175%
}

.page2link {
    text-decoration:none;
    color:blue;
}

.page2link:hover {
    color:pink;
}


nav li {
  display: inline;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: red;
 }
 
 nav a:hover {
  color: orange;
 }
 
 .active {
    font-weight:bold;
 }