img {
 width: 500px
}

body {
    color:red; 
    background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg");
}

h1 {
    color: #B85512;
    text-decoration: underline;
    background-image:url("http://backgrounds.picaboo.com/download/48/89/489306120b414e3986969b187a369f14/horizontal_gold.jpg");
    display:block;
    width:100%;
    border-bottom: thick solid yellow;
    border-top:thick solid yellow;
}

.title {
    font-size:325%;
    float:left;
}
.archer {
   width:20%
}

.witherboss {
    width: 20%
}

.first {
    color:red;
}

.storiescontainer {
    width:70%;
    margin:auto;
}

.big {
    line-height:150%;
    color:#B85512;
     border: groove thick Limegreen;
     margin-right:225px;
}

.paragraph1 {
     line-height:150%;
     color:yellow;
     background-repeat: no-repeat;

}

.page2link {
    text-decoration:none;
    color:blue;
}

.page2link:hover {
    color:pink;
}


nav li {
  display: inline;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a{
  text-decoration:none;
  color: red;
 }
 
 nav a:hover {
  color: orange;
 }
 
 .active {
    font-weight:bold;
 }
 
 
    nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:navy;
   opacity:0.7;
 }
 
 .wither {
     color:green;
     border: groove thick Aqua;
     margin-right:250px;
 }
 
 .centerbackground {
     background-image:url("http://www.kurtinz.com/images/k_vienna_dark_purple_170.jpg");
     opacity:0.8;
     background-size: 2000px 1100px;
     height:100%;
 }
 
 img {
     float:left;
     float:right;
     width:200px;
 }
 

 
 h3 {
     display:inline;
 }
 
.witherimg {
    text-align:left;
    bottom:300px;
}