
body {
background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg"); color:#B85512; background-color: black;}
.container {
    width:80%;
    margin:auto;
  background-image:url(2015-07-06_16.50.30.png);
  background-size: 1000px 1000px;
  background-position:center;
  opacity:0.8;
}

.tale_1 {
   line-height:175%;
   color:skyblue;
    
}
.tale_2 {
    line-height:175%;
    color:yellow;
}


.id {
    margin-top:650px
}
.articletitle {
    color:#B85512;
    text-decoration:none;
   margin-left: 200px;
}
 
.articletitle:hover {
    color:pink;
}

 img {
     margin-left: 117px;
 }
 
 .active {
    font-weight:bold;
 }
 
 nav li {
  display: inline;
 }
 
  nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:DarkGreen;
  opacity:0.7;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: red;
 }
 
 video {
     margin-right:100px;
 }
 
 nav a:hover {
  color: orange;
 }
 

 
 h2 {
     text-decoration:underline;
 }
 
