body {
    background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg");
    color:orange;
}


p {
    margin-right:  200px ;
}

iframe {
    float:left;
}

img {
    width:390px;
}

h1 {
    color:#B85512;
     margin-top:100px;
}

nav li {
  display: inline;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
 
nav li a {
  text-decoration:none;
  color: red;
 }
 
 nav a:hover {
  color: orange;
 }
 
 .active {
    font-weight:bold;
 }
 
   nav {
  position:fixed;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
  background-color:yellow;
   opacity:0.7;
 }
 
 