th, td {
  border: 3px solid #3B3642;
 }
 
 table {
  border-collapse: collapse;
  display:inline;
  float:left;
 }
 
 h1 {
     margin-top:100px;
 }
 
 tr:hover {
     background-color:gray;
 }
 

 .EnderDragon {
     width:650px ;
 }
 
 .villager {
     width:100px;
 }
 
 
nav li {
  display: inline;
 }
 
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a{
  text-decoration:none;
  color: red;
 }
 
 nav a:hover {
  color: orange;
 }
 
   nav {
  position:absolute;
  top:0px;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
  width:auto;
  height:50px;
 border-bottom: thick dashed red;
 }
 
 body {
     background-image:url("http://static.planetminecraft.com/files/resource_media/screenshot/1214/2012-04-07_202156_1912671.jpg");
     color:yellow;
 }