.articletitle{
    color: green;
}

body {
background-image:url("http://fc03.deviantart.net/fs70/i/2013/236/4/b/steve_vs_enderdragon_by_themefinland-d6j9jrp.jpg"); background-repeat: no-repeat; color:blue; background-color: black;}
.container {
    width:70%;
    margin:auto;
}