.title {
    font-size:275%;
     border-style: solid;
    border-width: medium;
}

body {
    background-color:green
}

nav li {
  display: inline;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: yellow;
 }
 
 nav a:hover {
  color: orange;
 }
 
 .active {
    font-weight:bold;
 }