.title {
    font-size:275%;
     border-style: solid;
    border-width: medium;
    color:green;
}

body {
    background-image:url("http://www.alpiwood.com/media/immagini/176_z_559A000_ST2V76-Y17.jpg");
}

nav li {
  display: inline;
 }
 
 nav {
  margin:0 auto;
  text-align:center;
 }
 
nav li a {
  text-decoration:none;
  color: green;
 }
 
 nav a:hover {
  color: red;
 }
 
 .active {
    font-weight:bold;
 }
 
.table {
     color:green;
 }